.container{
     
    border: 2px solid blue;
    display: flex;
    height: 44vh;

    /*  Flex-direction is used to displax the content in row and column wise also as reverse can possible  */
    /* flex-direction: row-reverse;  */

    /*  justify-content is used to display the content in center , flex-end(right) and flex-start(left)*/
    /* justify-content: flex-start; */
   
    /* align-item is used to align the item at center , flex-start(top) and flex-end(bottom) */
    align-items: flex-start;

    /* flex-wrap is used to make the document responsive by using wrap and wrap-reverse  */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow is used to combine the property of flex-display and flex-wrap  */
    flex-flow: row wrap;

    
}
.container-item{
    border: 2px solid black;
    background-color: green;
    margin: 12px;
    height: 122px;
    width: 122px;
    /* padding: 20px; */
}

.item3{

    /*  order is used to give the priority of content to show at end of container */
    order: 4;

    /*  flex-grow is used to increase the width of content  */
    /* flex-grow: 3; */

    /* flex-shrink is used to decrease the width of content */
    /* flex-shrink: 2; */

    /* align-self is used to overcame the property of css flex-box */
    align-self: center;
}

.item2{
    order: 3;
    flex-grow:2 ;
}

.item1{
    order: 5;
}