/* 
    universal selector
{
    font-family: fantasy;
} 
    */
    
    body{
    font-size: 30px;
}

/* combining group and id  selectors */

#first, #second{
    color: green;
}

/* class selector */

.purple{
    
    font-family:  monospace;
}

/* 
.highlight{
    background-color: grey;
    font-weight: 200;
} 

/* 
      Specificy Order :
  
      id>class>element 
*/